* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #111827;
  color: white;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.menu {
  display: flex;
  align-items: center;
}
.logo {
  padding-right: 40px;
}
.logo img {
  width: 35px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  padding-right: 40px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  transition: all ease-in-out 0.3s;
}
nav ul li a:hover {
  color: rgba(209, 213, 219);
}
.sesion {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
.sesion a {
  color: #fff;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
.sesion a:hover {
  color: rgba(209, 213, 219);
}

/*JUMBOTRON*/
.jum {
  display: flex;
  background-color: #111827;
  color: #fff;
  overflow: hidden;
}
.main-jum {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  padding-bottom: 50px;
}
.jum section {
  min-width: 50%;
}
.ofertas {
  display: inline-flex;
  background-color: #000;
  border-radius: 50px;
  color: #fff;
  padding: 7px 40px 7px 20px;
  font-size: 14px;
}
.ofertas span {
  text-transform: uppercase;
  font-weight: 500;
}
.ofertas a {
  position: relative;
  margin-left: 40px;
  color: #fff;
  text-decoration: none;
}
.ofertas a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  padding: 2.5px;
  border-top: 2.5px solid rgba(255, 255, 255, 0.5);
  border-right: 2.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  transform: rotate(45deg);
  margin-top: 6px;
  margin-right: -20px;
}
.jum h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.025em;
  padding-top: 25px;
  padding-bottom: 75px;
}
.jum p#text1 {
  font-size: 20px;
  line-height: 1.75rem;
  color: rgba(209, 213, 219);
}
form {
  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 15px;
  max-width: 94%;
  padding-top: 50px;
}
form input {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  border: 0;
  font-size: 16px;
  letter-spacing: 0.3px;
}
form input::placeholder {
  letter-spacing: 0.3px;
}
form button {
  background-color: #369ba8;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  transition: all ease-in-out 0.3s;
}
form button:hover {
  background-color: #3bd2e6;
  cursor: pointer;
}
.jum p#text2 {
  margin-top: 15px;
  color: rgba(209, 213, 219);
  font-size: 14px;
  line-height: 1.5;
}
.jum p#text2 a {
  color: inherit;
  text-decoration: inherit;
}
.jum section .imagen {
  padding: 10px 0;
  height: 100%;
  position: relative;
}
.jum section .imagen img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}
.jum section:nth-child(1) {
  padding-top: 100px;
  padding-bottom: 100px;
}
.jum section:nth-child(2) {
  height: 100%;
}

/*BLOG*/
section.blog {
  background: #f1f1f1;
}
.main-blog {
  padding-top: 100px;
  padding-bottom: 100px;
}
.header-blog {
  text-align: center;
}
.header-blog > span {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.header-blog h2 {
  font-size: 35px;
  font-weight: 900;
  padding-top: 10px;
}
.header-blog p {
  font-size: 20px;
  color: rgba(107, 114, 128);
  padding-top: 20px;
  padding-bottom: 20px;
}
.list-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-top: 30px;
}
article.card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 15px -2px rgba(0, 0, 0, 0.2);
  background: white;
  transition: all ease-in-out 0.2s;
}
article.card:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 20px -2px rgba(17, 24, 39, 0.8);
}
article.card .img-card {
  position: relative;
  height: 190px;
  width: 100%;
  overflow: hidden;
}
article.card .img-card.imgCard1 {
  background: url("../../assets/images/blog-img1.jpg") center center no-repeat;
  background-size: cover;
}
article.card .img-card.imgCard2 {
  background: url("../../assets/images/blog-img2.jpg") center center no-repeat;
  background-size: cover;
}
article.card .img-card.imgCard3 {
  background: url("../../assets/images/blog-img3.jpg") center center no-repeat;
  background-size: cover;
}
.info-card {
  padding: 25px;
}
.info-card > a {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.info-card > a:hover {
  text-decoration: underline;
}
.info-card h3 {
  color: #000;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
}
.info-card a {
  color: inherit;
  text-decoration: inherit;
}
.info-card p {
  color: #6b7280;
  font-size: 16px;
}
.info-post > div {
  display: flex;
  align-items: center;
  padding: 25px 0 0 0;
}
.info-post .user-post {
  width: 50px;
}
.info-post .user-post img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.details-post p a {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}
.details-post p a:hover {
  text-decoration: underline;
}
.details-post div {
  color: #6b7280;
  font-size: 14px;
}
.adicional {
  position: relative;
  background: #111827;
  overflow: hidden;
}
.main-adicional {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.main-adicional .item-adicional {
  position: relative;
  padding: 130px 40px;
}
.main-adicional .item-adicional:nth-child(1) {
  padding: 0 0;
  width: 100%;
  height: 100%;
}
.item-adicional .details-adicional {
  color: #d1d5db;
}
.item-adicional .details-adicional > span {
  font-size: 16px;
  font-weight: 600;
}
.item-adicional .details-adicional h2 {
  color: white;
  font-size: 36px;
  line-height: 40px;
  font-weight: 800;
  padding: 15px 0;
}
.item-adicional .details-adicional p {
  font-size: 18px;
  line-height: 28px;
  padding: 10px 0 20px;
}
.item-adicional .details-adicional a {
  display: inline-block;
  background: #ffffff;
  border: solid 1px white;
  color: #111827;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: all ease-in-out 0.2s;
}
.item-adicional .details-adicional a:hover {
  background: #111827;
  color: #ffffff;
}
.img-adicional {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.img-adicional img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

footer {
  background: #f9fafb;
}
footer .main-footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 100px 0 50px;
}
footer .main-footer ul {
  list-style: none;
}
footer .main-footer ul li a {
  text-decoration: none;
}
footer .main-footer .rrss ul {
  display: flex;
}
footer .main-footer .rrss ul li {
  margin-right: 20px;
}

footer .main-footer .rrss ul li a i {
  display: block;
  font-size: 20px;
  color: #9ca3af;
  transform: scale(1);
  transition: all ease-in-out 0.1s;
}
footer .main-footer .rrss ul li a:hover i {
  color: #6b7280;
  transform: scale(1.2);
}

footer .main-footer .listas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
footer .main-footer .listas h3 {
  font-size: 14px;
  color: #9ca3af;
  padding-bottom: 10px;
}
footer .main-footer .listas ul li a {
  display: block;
  color: #6b7280;
  margin: 14px 0;
}
footer .main-footer .listas ul li a:hover {
  color: #111827;
}

footer .copy-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-top: 1px solid #e5e7eb;
}
footer .copy-footer p {
  color: #9ca3af;
}
