* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  position: relative;
  background-color: #ff077f;
  color: white;
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 50%);
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.menu {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .menu {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .menu nav {
    /*display: none;*/
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: calc(100% + 40px);
    background: #fff;
    margin-top: 50px;
    border-radius: 10px;
    height: 0px;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
  }
}
.menu nav.act-mv {
  display: flex;
  height: 245px;
}
.logo {
  padding-right: 40px;
}
.logo img {
  width: 45px;
}
nav ul {
  display: flex;
  list-style: none;
}
@media (max-width: 768px) {
  .menu nav ul {
    flex-direction: column;
    border: solid 1px #fff;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
  }
}
nav ul li {
  padding-right: 40px;
}
@media (max-width: 768px) {
  .menu nav ul li {
    padding: 0px;
    text-align: center;
    border-top: solid 1px rgb(17 17 17 / 16%);
  }
  .menu nav ul li:nth-child(1) {
    border-top: 0;
  }
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 768px) {
  nav ul li a {
    display: block;
    padding: 20px;
    text-align: center;
    color: #000000;
  }
}

nav ul li a:hover {
  color: rgba(209, 213, 219);
}
@media (max-width: 768px) {
  nav ul li a:hover {
    background: #111827;
  }
}
.sesion {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
.sesion a {
  color: #fff;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 768px) {
  .sesion a:nth-child(1) {
    display: none;
  }
}
.sesion a:hover {
  color: rgba(209, 213, 219);
}
.item-sesion {
  display: none;
}
@media (max-width: 768px) {
  .item-sesion {
    display: block;
  }
}
.btn-movil {
  display: none;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0);
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .btn-movil {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.btn-movil:hover {
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 1);
}
.btn-movil i {
  position: relative;
  width: 70%;
  height: 3px;
  background: #ffffff;
  border-radius: 5px;
}
.btn-movil:hover i {
  position: relative;
  background: #111827;
}
.btn-movil i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  width: 100%;
  height: 3px;
  border-radius: 5px;

  background: #ffffff;
}
.btn-movil i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -10px;
  width: 100%;
  height: 3px;
  border-radius: 5px;

  background: #ffffff;
}

.btn-movil:hover i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #111827;
}
.btn-movil:hover i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -10px;
  width: 100%;
  height: 3px;
  border-radius: 5px;

  background: #111827;
}

/*JUMBOTRON*/
.jum {
  display: flex;
  background-color: #33c5d4;
  color: #fff;
  overflow: hidden;
}
.main-jum {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 1024px) {
  .main-jum {
    display: block;
    max-width: 690px;
    text-align: center;
    padding-bottom: 190px;
  }
}
.jum section {
  min-width: 50%;
}
.ofertas {
  display: inline-flex;
  background-color: #ff077f;
  border-radius: 50px;
  color: #fff;
  padding: 7px 40px 7px 20px;
  font-size: 14px;
}
@media (max-width: 480px) {
  .ofertas {
    flex-direction: column;
    padding: 7px 50px 10px 30px;
  }
}
.ofertas span {
  text-transform: uppercase;
  font-weight: 500;
}
.ofertas a {
  position: relative;
  margin-left: 40px;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 480px) {
  .ofertas a {
    margin-left: 0;
  }
}
.ofertas a:hover {
  text-decoration: underline;
}
.ofertas a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  padding: 2.5px;
  border-top: 2.5px solid rgba(255, 255, 255, 1);
  border-right: 2.5px solid rgba(255, 255, 255, 1);
  border-radius: 2px;
  transform: rotate(45deg);
  margin-top: 6px;
  margin-right: -20px;
}
.jum h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.025em;
  padding-top: 25px;
  padding-bottom: 75px;
  text-shadow: 3px 3px 0px #ff077f;
}
@media (max-width: 480px) {
  .jum h1 {
    font-size: 40px;
    padding-bottom: 40px;
  }
}
.jum p#text1 {
  font-size: 20px;
  line-height: 1.75rem;
  color: rgba(255, 255, 255);
}
form {
  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 15px;
  max-width: 94%;
  padding-top: 50px;
}
@media (max-width: 1024px) {
  form {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  form {
    grid-template-columns: 1fr;
  }
}
form input {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #ff077f;
  font-size: 16px;
  letter-spacing: 0.3px;
  outline: 0;
  color: #ff077f;
}
form input::placeholder {
  letter-spacing: 0.3px;
  color: rgba(255, 7, 127, 0.8);
}
form button {
  background-color: #ff077f;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-size: 15px;
  padding: 15px;
  font-weight: 600;
  transition: all ease-in-out 0.3s;
}
form button:hover {
  background: transparent;
  border: 1px solid #ff077f;
  color: #ff077f;
  cursor: pointer;
}
.jum p#text2 {
  margin-top: 15px;
  color: rgba(255, 255, 255);
  font-size: 14px;
  line-height: 1.5;
}
.jum p#text2 a {
  color: inherit;
  text-decoration: inherit;
}
.jum section .imagen {
  padding: 10px 0;
  height: 100%;
  position: relative;
}
.jum section .imagen img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  box-shadow: 1px 1px 11px 0px #000000bd;
  border: 1px solid #ffffff;
  border-radius: 8px;
  transform: scale(1);
  transition: all ease-in-out 0.3s;
}
@media (max-width: 1024px) {
  .jum section .imagen img {
    width: 100%;
    height: auto;
  }
}
.jum section .imagen img:hover {
  transform: scale(1.05);
}
.jum section:nth-child(1) {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1024px) {
  .jum section:nth-child(1) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.jum section:nth-child(2) {
  height: 100%;
}

/*BLOG*/
section.blog {
  background: #f1f1f1;
}
.main-blog {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1024px) {
  .main-blog {
    padding-top: 50px;
  }
}
.header-blog {
  text-align: center;
}
.header-blog > span {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 800;
  color: #ff077f;
}
.header-blog h2 {
  font-size: 35px;
  font-weight: 900;
  padding-top: 10px;
  color: transparent;
  text-shadow: -3px 3px 0px #33c5d4;
  -webkit-text-stroke: 1px #33c5d4;
}
.header-blog p {
  font-size: 20px;
  color: rgba(0, 0, 0);
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 200;
}
.list-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-top: 30px;
}
@media (max-width: 1024px) {
  .list-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
article.card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 15px -2px rgba(0, 0, 0, 0.2);
  background: white;
  transition: all ease-in-out 0.2s;
}
@media (max-width: 1024px) {
  article.card {
    min-width: 320px;
    max-width: 50%;
  }
}
@media (max-width: 480px) {
  article.card {
    transform: scale(1);
  }
}
article.card:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 20px -2px rgba(17, 24, 39, 0.8);
}
@media (max-width: 480px) {
  article.card:hover {
    transform: scale(0.9);
  }
}
article.card .img-card {
  position: relative;
  height: 270px;
  width: 100%;
  overflow: hidden;
}
article.card .img-card.imgCard1 {
  background: url("../../assets/images/blog-img1.jpg") center center no-repeat;
  background-size: cover;
}
article.card .img-card.imgCard2 {
  background: url("../../assets/images/blog-img2.jpg") center center no-repeat;
  background-size: cover;
}
article.card .img-card.imgCard3 {
  background: url("../../assets/images/blog-img3.jpg") center center no-repeat;
  background-size: cover;
}
.info-card {
  padding: 25px;
}
.info-card > a {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.info-card > a:hover {
  text-decoration: underline;
}
.info-card h3 {
  color: #000;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
}
.info-card a {
  color: inherit;
  text-decoration: inherit;
}
.info-card > a {
  color: #fff;
  background: #ff077f;
  padding: 2px 10px;
}
.info-card p {
  color: #6b7280;
  font-size: 16px;
}
.info-post > div {
  display: flex;
  align-items: center;
  padding: 25px 0 0 0;
}
.info-post .user-post {
  width: 50px;
}
.info-post .user-post img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.details-post p a {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}
.details-post p a:hover {
  text-decoration: underline;
}
.details-post div {
  color: #6b7280;
  font-size: 14px;
}
.adicional {
  position: relative;
  background: #33c5d4;
  overflow: hidden;
}
.main-adicional {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media (max-width: 1024px) {
  .main-adicional {
    display: flex;
    flex-direction: column;
  }
}
.main-adicional .item-adicional {
  position: relative;
  padding: 130px 40px;
}
@media (max-width: 1024px) {
  .main-adicional .item-adicional {
    padding: 40px 40px;
  }
}

.main-adicional .item-adicional:nth-child(1) {
  padding: 0 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .main-adicional .item-adicional:nth-child(1) {
    height: 300px;
  }
}
.item-adicional .details-adicional {
  color: #d1d5db;
}
@media (max-width: 1024px) {
  .item-adicional .details-adicional {
    text-align: center;
    max-width: 690px;
  }
}
.item-adicional .details-adicional > span {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.item-adicional .details-adicional h2 {
  color: #ffffff;
  font-size: 36px;
  line-height: 40px;
  font-weight: 800;
  padding: 15px 0;
  text-shadow: 4px 4px 0 #ff077f;
}
.item-adicional .details-adicional p {
  font-size: 18px;
  line-height: 28px;
  padding: 10px 0 20px;
  color: #fff;
}
.item-adicional .details-adicional a {
  display: inline-block;
  background: #ff077f;
  border: solid 1px #ff077f;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: all ease-in-out 0.2s;
}
.item-adicional .details-adicional a:hover {
  background: transparent;
  color: #ff077f;
  border: 1px solid #ff077f;
}
.img-adicional {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
@media (max-width: 1024px) {
  .img-adicional {
    width: 100%;
    height: 300px;
  }
}
.img-adicional img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

footer {
  background: #111;
}
footer .main-footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 100px 0 50px;
}
@media (max-width: 1280px) {
  footer .main-footer {
    display: block;
    padding: 70px 0 50px;
  }
}
footer .main-footer ul {
  list-style: none;
}
footer .main-footer ul li a {
  text-decoration: none;
}
footer .main-footer .rrss ul {
  display: flex;
}
footer .main-footer .rrss ul li {
  margin-right: 20px;
}
@media (max-width: 1280px) {
  footer .main-footer .rrss ul {
    justify-content: center;
    padding-bottom: 70px;
  }
}

footer .main-footer .rrss ul li a i {
  display: block;
  font-size: 20px;
  color: #fff;
  transform: scale(1);
  transition: all ease-in-out 0.1s;
}
@media (max-width: 1280px) {
  footer .main-footer .rrss ul li a i {
    font-size: 24px;
  }
}
footer .main-footer .rrss ul li a:hover i {
  color: #ff077f;
  transform: scale(1.2);
}

footer .main-footer .listas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
@media (max-width: 1280px) {
  footer .main-footer .listas {
    grid-template-columns: repeat(2, auto);
    gap: 40px;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  footer .main-footer .listas {
    grid-template-columns: repeat(2, auto);
    gap: 40px;
  }
}

footer .main-footer .listas .box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
@media (max-width: 768px) {
  footer .main-footer .listas .box {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  footer .main-footer .listas .box {
    display: flex;
  }
}
footer .main-footer .listas h3 {
  font-size: 14px;
  color: #fff;
  padding-bottom: 10px;
}

footer .main-footer .listas ul li a {
  display: block;
  color: #6b7280;
  margin: 14px 0;
}
footer .main-footer .listas ul li a:hover {
  color: #fff;
}

footer .copy-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-top: 1px solid #e5e7eb;
}
footer .copy-footer p {
  color: #9ca3af;
  text-align: center;
}
